{% extends 'base.html' %}
{% block title %}编辑商品{% endblock %}
{% block content %}
<h3>编辑商品</h3>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {{ form.hidden_tag() }}
    <div class="row g-3">
        <div class="col-12 col-md-6">
            {{ form.name.label }} 
            {{ form.name(class="form-control") }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.price.label }} 
            {{ form.price(class="form-control") }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.stock.label }} 
            {{ form.stock(class="form-control") }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.category.label }} 
            {{ form.category(class="form-select") }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.image_link.label }} 
            {{ form.image_link(class="form-control", placeholder="支持外部图片链接") }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.image.label }} 
            {{ form.image(class="form-control") }}
        </div>
        <div class="col-12">
            <button class="btn btn-success">{{ form.submit.label }}</button>
        </div>
    </div>
    <small class="text-muted">图片链接和上传图片任选其一，均可为空，外部链接请以 http:// 或 https:// 开头。</small>
</form>
{% endblock %}