{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">注册</h3>
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label }} 
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label }} 
                        {{ form.password(class="form-control") }}
                    </div>
                    <button class="btn btn-primary w-100">{{ form.submit.label }}</button>
                    <div class="text-center mt-3">
                        <a href="{{ url_for('login') }}">返回登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}